{{- $track := .Get 0 -}}
{{- $height := .Get "height" | default "166" -}}
{{- $color := .Get "color" | default "38bdf8" -}}
<div class="soundcloud-embed">
  <iframe 
    width="100%" 
    height="{{ $height }}" 
    scrolling="no" 
    frameborder="no" 
    allow="autoplay"
    src="https://w.soundcloud.com/player/?url=https%3A//soundcloud.com/{{ $track }}&color=%23{{ $color }}&auto_play=false&hide_related=true&show_comments=false&show_user=true&show_reposts=false&show_teaser=false&visual=true">
  </iframe>
</div>
